# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# Site Information
site_name: Hidetoshi and Nevaeh's Database
site_url: https://hidetoshi20.github.io/Hidetoshi-Nevaeh-DB/
site_author: Hidetoshi and Nevaeh
site_description: "A comprehensive database for Hidetoshi and Nevaeh"

# Repository Information
repo_url: https://github.com/Hidetoshi20/Hidetoshi-Nevaeh-DB
repo_name: Hidetoshi-and-Nevaeh-s-Database
edit_uri: ""

# Copyright
copyright: "Copyright &copy; 2024 Hidetoshi and Nevaeh"

# Theme Configuration
theme:
  name: material
  language: zh
  icon:
    logo: material/book-open-page-variant
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  # favicon: assets/favicon.png  # Add your favicon file to docs/assets/
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.action.edit
    - content.action.view

# Plugins Configuration
plugins:
  - search
  - awesome-pages:
      order: asc
  - tags

# Markdown Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true
  - attr_list
  - def_list
  - footnotes
  - pymdownx.arithmatex
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
